{% extends "base.html" %}
{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="first_name" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName" name="last_name" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="date" class="form-control" id="dateOfBirth" name="date_of_birth" placeholder="Date Of Birth" required>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword1" name="password1" placeholder="Password 1" required>
    </div>
    <div class="form-group">
        <label for="inputPassword2">Retype Password</label>
        <input type="password" class="form-control" id="inputPassword2" name="password2" placeholder="Retype Password" required>
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phone_number" placeholder="(+30) 0000000000" required>
    </div>
    <div class="form-group">
        <label for="vatNumber">Vat Number</label>
        <input type="number" class="form-control" id="vatNumber" name="vat_number" placeholder="Vat Number" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{% endblock %}